@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: rgb(13 17 23);
  --mask-bg: rgb(48 54 61);
  --main-border-color: rgb(48 54 61);

  /* Common color */
  --text-color: rgb(201 209 217);
  --text-muted-color: rgb(139 148 158);
  --text-muted-highlight-color: rgb(201 209 217);
  --heading-color: rgb(230 237 243);
  --label-color: rgb(139 148 158);
  --blockquote-border-color: rgb(48 54 61);
  --blockquote-text-color: rgb(139 148 158);
  --link-color: rgb(88 166 255);
  --link-underline-color: rgb(56 92 134);
  --button-bg: rgb(22 27 34);
  --btn-border-color: rgb(48 54 61);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: rgb(48 54 61);
  --card-header-bg: rgb(22 27 34);
  --checkbox-color: rgb(110 118 129);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(13 17 23) 0%, rgb(22 27 34) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(48 54 61 / 40%) 50%,
    rgb(255 255 255 / 0%) 100%
  );
  --menu-bg: rgb(22 27 34);
  --menu-border-color: rgb(48 54 61 / 60%);
  --menu-shadow-color: rgb(1 4 9 / 42%);
  --menu-active-color: rgb(201 209 217 / 63%);
  --menu-highlight-bg: rgb(48 54 61 / 12%);

  /* Sidebar */
  --site-title-color: rgb(201 209 217);
  --site-subtitle-color: rgb(139 148 158);
  --sidebar-bg: rgb(22 27 34);
  --sidebar-border-color: rgb(48 54 61);
  --sidebar-muted-color: rgb(139 148 158);
  --sidebar-active-color: rgb(255 255 255);
  --sidebar-hover-bg: rgb(48 54 61);
  --sidebar-btn-bg: rgb(48 54 61);
  --sidebar-btn-color: rgb(139 148 158);
  --avatar-border-color: rgb(48 54 61);

  /* Topbar */
  --topbar-bg: rgb(13 17 23 / 80%);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(48 54 61);
  --search-icon-color: rgb(110 118 129);
  --input-focus-border-color: rgb(88 166 255);

  /* Home page */
  --post-list-text-color: rgb(201 209 217);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(48 54 61);

  /* Posts */
  --toc-highlight: rgb(88 166 255);
  --toc-popup-border-color: rgb(48 54 61);
  --tag-hover: rgb(31 41 55);
  --tb-odd-bg: rgb(22 27 34); /* odd rows of the posts' table */
  --tb-even-bg: rgb(13 17 23); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(56 92 134);
  --btn-share-color: rgb(110 118 129);
  --btn-share-hover-color: rgb(201 209 217);
  --card-bg: rgb(22 27 34);
  --card-hover-bg: rgb(48 54 61);
  --card-shadow:
    rgb(1 4 9 / 50%) 0 3px 6px 0, rgb(48 54 61) 0 0 0 1px;
  --kbd-wrap-color: rgb(110 118 129);
  --kbd-text-color: rgb(201 209 217);
  --kbd-bg-color: rgb(22 27 34);
  --prompt-text-color: rgb(201 209 217 / 75%);
  --prompt-tip-bg: rgb(23 60 38 / 60%);
  --prompt-tip-icon-color: rgb(63 185 80);
  --prompt-info-bg: rgb(7 47 96 / 70%);
  --prompt-info-icon-color: rgb(88 166 255);
  --prompt-warning-bg: rgb(78 58 3 / 70%);
  --prompt-warning-icon-color: rgb(210 153 34);
  --prompt-danger-bg: rgb(75 22 10 / 70%);
  --prompt-danger-icon-color: rgb(248 81 73);

  /* Tags */
  --tag-border: rgb(48 54 61);
  --tag-shadow: rgb(13 17 23);
  --dash-color: rgb(48 54 61);
  --search-tag-bg: rgb(22 27 34);

  /* Categories */
  --categories-border: rgb(48 54 61 / 50%);
  --categories-hover-bg: rgb(48 54 61);
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: rgb(110 118 129);
  --timeline-color: rgb(48 54 61);
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: rgb(48 54 61);
  --highlight-bg-color: rgb(13 17 23);
  --highlighter-rouge-color: #c9def1;
  --highlight-lineno-color: rgb(110 118 129);
  --inline-code-bg: rgb(110 118 129 / 20%);
  --code-color: rgb(201 209 217);
  --code-header-text-color: rgb(139 148 158);
  --code-header-muted-color: rgb(48 54 61);
  --code-header-icon-color: rgb(110 118 129);
  --clipboard-checked-color: rgb(63 185 80);
  --filepath-text-color: rgb(201 209 217);

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(13 17 23),
      rgb(22 27 34),
      rgb(22 27 34),
      rgb(22 27 34),
      rgb(13 17 23)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: #87939d;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: rgb(13 17 23);
  }

  .highlight .err {
    color: rgb(13 17 23);
    background-color: #ac4142;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #848484;
  }

  .highlight .cp {
    color: #f4bf75;
  }

  .highlight .nt {
    color: #f4bf75;
  }

  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }

  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }

  .highlight .gi {
    color: #90a959;
  }

  .highlight .gd {
    color: #f08a8b;
    background-color: #320000;
  }

  .highlight .gh {
    color: #6a9fb5;
    background-color: rgb(13 17 23);
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }

  .highlight .kc {
    color: #d28445;
  }

  .highlight .kt {
    color: #d28445;
  }

  .highlight .kd {
    color: #d28445;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }

  .highlight .sa {
    color: #aa759f;
  }

  .highlight .sr {
    color: #75b5aa;
  }

  .highlight .si {
    color: #b76d45;
  }

  .highlight .se {
    color: #b76d45;
  }

  .highlight .nn {
    color: #f4bf75;
  }

  .highlight .nc {
    color: #f4bf75;
  }

  .highlight .no {
    color: #f4bf75;
  }

  .highlight .na {
    color: #6a9fb5;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }

  .highlight .ss {
    color: #90a959;
  }
}
